{% extends 'base.html' %}
{% block body %}
<div class="container">
  <form action="/analyze" method="POST">
    {% csrf_token %}
      <h2>Enter Your text to be edited:</h2>
        <div class="form-group">
          <label for="text">Example textarea</label>
          <textarea class="form-control" id="text" name="text" rows="3"></textarea>
        </div>
        <div class="form-check" name="removepunc">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label"  for="exampleCheck1">Remove punctuations</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Analyze Text</button>
      
    </form>

</div>
{% endblock body %}
